.icon {
  width: 100px;
  overflow: hidden;
}
.formation-creation {
  width: 60%;
  margin: auto;
  input {
    margin-bottom: 10px;
    outline: none;
    &:focus {
      border: 2px solid black;
    }
  }

  .plus-button {
    min-width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    img {
      width: 50px;
      margin: 0 auto;
    }

    &:hover {
      img {
        filter: invert(100%);
      }
      background-color: black;
    }
  }

  #create-button {
    border-radius: 4px;
    height: 60px;
    width: 200px;
    padding: 0px 10px;
    img {
      width: 45px;
      margin-right: 10px;
    }
  }

  .formation {
    padding: 5px;

    border: solid 1px #ccc;
    // Only formation borders
    &:first-of-type:nth-last-of-type(2) {
      border-radius: 9px;
    }
    // First formation borders
    &:first-of-type:not(:nth-last-of-type(2)) {
      border-radius: 9px 9px 0 0;
    }
    // In between formation borders
    &:not(:first-of-type):not(:nth-last-of-type(2)) {
      border-radius: 0;
      border-top: none;
    }
    // Last formation borders
    &:not(:first-of-type):nth-last-of-type(2) {
      border-radius: 0 0 9px 9px;
      border-top: none;
    }

    .formation-place {
      display: flex;
      flex-direction: row;
      max-height: 100px;
      &:not(:last-of-type) {
        padding-bottom: 5px;
      }
  
      .example-list {
        width: min-content;
        max-width: calc(100% - 105px);
        border: solid 1px #ccc;
        display: flex;
        flex-direction: row;
        background: white;
        border-radius: 4px;
        overflow: hidden;
        margin-left: 5px;
      }
      
      .example-box {
        min-width: 100px;
        padding: 0px 0px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
        flex-grow: 1;
        flex-basis: 0;
        overflow: hidden;
        &:not(:last-of-type) {
          border-right: solid 1px #ccc;
        }
      }
      .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
      
      .cdk-drag-placeholder {
        opacity: 0;
      }
      
      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      
      .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      
      .no-items {
        display: flex;
        align-items: center;
        margin-left: 5px;
      }
    }
  }

  .control-buttons {
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
}

@media (width < 1000px) {
  .formation-creation {
    width: 95vw;
  }
}

@media (width < 670px) {
  .formation-place {
    max-height: 50px !important;
    img {
      width: 50px;
    }
    .example-list {
      max-height: 50px;
      max-width: calc(100% - 60px) !important;
      .example-box {
        min-width: 50px !important;
        width: 50px;
      }
    }
    .plus-button {
      min-width: 50px !important; 
      max-width: 50px;
      max-height: 50px;
      img {
        width: 30px;
      }
    }
  }
}