@import "./variables.scss";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

body {
  margin: 0; 
  background-color: $background;
  &::-webkit-scrollbar {
    width: 0px; /* Ширина скроллбара */
  }
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

h2 {
  text-align: center; /* Центрирование заголовка */
}

form {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов формы */
}

label {
  margin-bottom: 5px; /* Отступ между меткой и полем ввода */
  display: block;
}

input {
  margin-bottom: 15px; /* Отступ между полями ввода */
  padding: 10px; /* Внутренний отступ */
  border: 1px solid $gray; /* Цвет рамки */
  border-radius: 4px; /* Закругленные углы */
  width: calc(100% - 20px);
}

button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-button {
  background-color: $background; /* Белый фон кнопки */
  color: $text; /* Черный текст */
  border: 2px solid $primary; /* Тонкая черная рамка */
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: $primary; /* Черный фон при наведении */
    color: $text-inv; /* Белый текст при наведении */
  }
}

.primary-button {
    border: 1px solid black;
    border-radius: 5px;
    color: black !important;
    background-color: #f0f0f0;

    &:hover {
      border: 2px solid black;
      background-color: #f0f0f0;
    }
}

.success-snack {
  background-color: $primary;
  color: $text-inv;
  margin-right: 0;
  box-shadow: none;
  border-radius: 4px;
  transition: 0.15s ease-in-out;
}