<div class="form-container">
    <h2>Вход</h2>
    <form (ngSubmit)="login()">
      <div>
        <label for="identifier">Email или имя пользователя:</label>
        <input type="text" id="identifier" [(ngModel)]="user.identifier" name="identifier" required>
      </div>
      <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
      <button type="submit">Войти</button>
    </form>
  </div>
  