<div class="container">

    <div class="filter">
        <form *ngIf="search" [formGroup]="filterForm">
            <input formControlName="name" placeholder="Имя героя" />
        </form>

        <div class="buttons">
            <div class="button-group">
                <div class="button-container">
                    <button *ngFor="let heroClass of classes" (click)="setClassFilter(heroClass)" [class.selected]="filterForm.value.class == heroClass">
                        <img src="assets/img/{{ heroClass }}.webp" alt="{{ heroClass }}" />
                    </button>
                </div>
            </div>
    
            <div class="button-group">
                <div class="button-container">
                    <button *ngFor="let heroType of types" (click)="setTypeFilter(heroType)" [class.selected]="filterForm.value.type == heroType">
                        <img src="assets/img/{{ heroType }}.webp" alt="{{ heroType }}" />
                    </button>
                </div>
            </div>
    
            <div class="button-group">
                <div class="button-container">
                    <button *ngFor="let fraction of fractions" (click)="setFractionFilter(fraction)" [class.selected]="filterForm.value.fraction == fraction">
                        <img src="assets/img/{{ fraction }}.webp" alt="{{ fraction }}" />
                    </button>
                </div>
            </div>
        </div>
       
    </div>

    <div *ngIf="!userMode || userMode && !obtainedHeroes" class="heroes-container">
        <div class="hero" *ngFor="let hero of filteredHeroes" (click)="selectHero(hero)">
            <img src="{{ baseUrl + hero?.iconUrl }}" alt="">
            <span class="tooltip">
                <h3>{{ hero.name }}</h3>
                <p>Class: {{ hero.class }}</p>
                <p>Type: {{ hero.type }}</p>
                <p>Fraction: {{ hero.fraction.name }}</p>
            </span>
        </div>
    </div>
    <div *ngIf="userMode && obtainedHeroes" class="heroes-container">
        <div class="hero {{hero.getRarity()}}" *ngFor="let hero of filteredUserHeroes" (click)="selectHero(hero)">
            <img src="{{ baseUrl + hero.hero.icon.url }}" alt="">
            <div class="star-strip" *ngIf="hero.getStars() > 0">
                <span *ngFor="let star of [].constructor(hero.getStars())" class="star"> ★</span>
              </div>
            <span class="tooltip">
                <h3>{{ hero.hero.name }}</h3>
                <p>Class: {{ hero.hero.class }}</p>
                <p>Type: {{ hero.hero.type }}</p>
                <p>Fraction: {{ hero.hero.fraction.name }}</p>
            </span>
        </div>
    </div>
</div>
