<nav class="navbar desktop">
  <div class="navbar-container">
    <div class="menu-items">
      <button class="no-border" (click)="navigateToHome()">Main</button>
      <button class="no-border" (click)="navigateToHeroes()">Heroes</button>
      <button class="no-border" (click)="navigateToPacks()">My Formations</button>
      <button class="no-border" (click)="navigateToMyHeroes()">My Heroes</button>
    </div>
    <div class="menu-items">
      <button class="username-button no-border" (click)="navigateToProfile()">{{userName}}</button>
      <button *ngIf="loggedIn" (click)="logout()">Log Out</button>
    </div>
  </div>
</nav>

<nav class="navbar mobile">
  <div class="navbar-container">
    <div class="menu-items">
      <button class="burger" [ngClass]="{ 'burger-prikol': isSidebarOpen }" (click)="toggleBurger()">
        {{ isSidebarOpen ? '✖' : '☰' }}
      </button>
    </div>
    <div class="menu-items">
      <button class="username-button" (click)="navigateToProfile()">{{userName}}</button>
      <button *ngIf="loggedIn" (click)="logout()">Log Out</button>
    </div>
  </div>
</nav>

<div class="sidebar" #sidebar id="sidebar" unselectable="on">
  <button (click)="navigateToHome()">Main</button>
  <button (click)="navigateToHeroes()">Heroes</button>
  <button (click)="navigateToPacks()">My Formations</button>
  <button (click)="navigateToMyHeroes()">My Heroes</button>
</div>