<nav class="navbar">
    <div class="navbar-container">
      <div class="menu-items">
          <button (click)="navigateToHome()">Main</button>
          <button (click)="navigateToHeroes()">Heroes</button>
          <button (click)="navigateToPacks()">My formations</button>
          <button (click)="navigateToMyHeroes()">My heroes</button>
      </div>
      
      <div class="menu-items">
        <button (click)="navigateToProfile()">Profile</button>
        <button *ngIf="loggedIn" (click)="logout()">Log out</button>
      </div>
    </div>
  </nav>